@media only screen and (min-device-width: 1440px) and (min-device-height: 1024px) {
  body {
    /* Encriptador - 2 Desktop */
    position: relative;
    width: 1440px;
    height: 1024px;
    /* Light blue/light-blue-100 */
    background: #f3f5fc;
  }
  header {
    /* Header */
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;
  }
  header figure {
    /* imagen header */
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
    /* Dark blue/dark-blue-300 */
    background: #0a3871;
  }
  #ingreseTexto {
    /* Ingrese el texto aqui */
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    /* Formato texto*/
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
    background: #f3f5fc;
  }
}
