@media only screen and (min-device-width: 375px) and (min-device-height: 933px) {
  body {
    /* Encriptador - 1 Celular */
    position: relative;
    width: 375px;
    height: 933px;
    /* Light blue/light-blue-100 */
    background: #f3f5fc;
  }
  header {
    /* Header */
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;
  }
  header figure {
    /* imagen header */
    position: absolute;
    left: 4.27%;
    right: 87.2%;
    top: 25%;
    bottom: 25%;
    /* Dark blue/dark-blue-300 */
    background: #0a3871;
  }
  #ingreseTexto {
    /* Ingrese el texto aqui */
    position: absolute;
    width: 343px;
    height: 48px;
    left: 5%;
    top: 152px;
    /* Formato texto*/
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
    background: #f3f5fc;
  }
}
